.content-section {
  position: relative;
  width: 1100px;
  margin: 0px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--background--transparent);
  padding: var(--spacing-large) var(--spacing-medium);
}

.text-section {
  margin-bottom: var(--spacing-large);
}
