BACKEND_URL=http://localhost:8080/graphql
WP_USERNAME=your_wp_username
WP_PASSWORD=your_wp_password

UPSTASH_REDIS_REST_URL=https://popular-elk-20321.upstash.io
UPSTASH_REDIS_REST_TOKEN=Example_token_1234567890abcdefg
CRON_SECRET=your_cron_secret_key
RECEIVER_EMAIL_ADDRESSES=[example@mail.com, another@example.com]
SENDER_EMAIL_ADDRESS=no-reply@mail.com

RESEND_API_KEY=Example_token_1234567890abcdefg

WP_FILEBIRD_API_KEY=Example_token_1234567890abcdefg
WP_FILEBIRD_API_URL=https://your.site.com/?rest_route=/filebird/public/v1