BACKEND_URL=http://localhost:8080/graphql
WP_USERNAME=your_wp_username
WP_PASSWORD=your_wp_password

GOOGLE_FORMS_URL=https://docs.google.com/forms/u/0/d/e/something/formResponse
UPSTASH_REDIS_REST_URL=https://popular-elk-20321.upstash.io
UPSTASH_REDIS_REST_TOKEN=SDLJdhjklhfJKskld