.imagecard {
  position: relative;
  text-align: center;
  color: white;
  height: 400px;
  max-width: 1000px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: var(--spacing-large);
}

.imagecard h1 {
  position: absolute;
  top: 50%;
  left: var(--spacing-large);
  margin: 0;
  transform: translateY(-50%);
  text-align: left;
  font-size: 5rem;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  color: var(--text-tertiary);
}
