# Backend port
PORT=8080

# DB Configuration
DB_HOST=localhost
DB_PORT=5432
POSTGRES_DB=egs_database
POSTGRES_USER=egs_user
POSTGRES_PASSWORD=egs_password
DB_NAME=egs_database

# JWT Secret Key
JWT_SECRET=your_jwt_secret_key

OVERRIDE_SEEDS=false